* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

#grid {
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5vh;
  padding: 5vh;
  border: 8px solid #878787;
  overflow: auto;
}

.item {
  width: 18vh;
  height: 18vh;
  display: grid;
  place-items: center;
  font-size: 80px;
  font-weight: bold;
  border: 2px solid #878787;
  user-select: none;
}

.item[data-selected="true"] {
  background-color: rgb(174, 229, 255);
}
