* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;
}

#list {
  width: 60vw;
  height: 80vh;
  border: 8px solid #878787;
  overflow-y: auto;
  overflow-x: hidden;
}

.item {
  margin: 30px;
  padding: 20px 0;
  text-align: center;
  font-size: 40px;
  border: 2px solid #878787;
  user-select: none;
}

.item[data-selected="true"] {
  background-color: lightblue;
}